element.style {
}
body#ecwid_body {
    -webkit-text-size-adjust: 100%;
}
body#ecwid_body {
    -webkit-text-size-adjust: 100%;
}
html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    max-width: 100%;
    background-color: #fff;
    font-family: "Root UI","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto",Arial,sans-serif;
    color: #191919;
}
hoja de estilo del agente de usuario
body {
    display: block;
    margin: 8px;
}
Atributo style {
    --vh: 7.42px;
}
:root {
    --color-cover-title: $color-white;
    --color-cover-text: $color-white;
    --color-cover-button-text: $color-white;
    --color-cover-button-background: $base-color-button-v2;
    --color-menu: $color-white;
    --fontfamily-cover-title: $font-family;
    --fontfamily-cover-text: $font-family;
}
:root {
    --color-cover-title: $color-white;
    --color-cover-text: $color-white;
    --color-cover-button-text: $color-white;
    --color-cover-button-background: $base-color-button-v2;
    --color-menu: $color-white;
    --fontfamily-cover-title: $font-family;
    --fontfamily-cover-text: $font-family;
}
:root {
    --color-cover-title: $color-white;
    --color-cover-text: $color-white;
    --color-cover-button-text: $color-white;
    --color-cover-button-background: $base-color-button-v2;
    --color-menu: $color-white;
    --fontfamily-cover-title: $font-family;
    --fontfamily-cover-text: $font-family;
}