body{
    background-color: #E9E9EB;
}
.intro{
    background-image: url('../fondo_ladrillo.jpg') ;
    min-height: 50vh;
}
.menu{
    justify-content: space-around;
    background-color: white;
    opacity: 50%;
}
a{
    text-decoration: none;
}
.text{
    color: black;
}
#selecionado{
    border-left: black solid 1px;
    border-right: black solid 1px;
    padding-left: 100px;
    padding-right: 100px;
}