body{
    background-color: #E9E9EB;
}
.intro{
    background-image: url('../fondo_ladrillo.jpg') ;
    min-height: 50vh;
}
.menu{
    justify-content: space-around;
    background-color: white;
    opacity: 50%;
}

.text{
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 25px
}

.text:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

#selecionado{
    border-left: black solid 1px;
    border-right: black solid 1px;
    padding-left: 100px;
    padding-right: 100px;
}
#tabla{
    margin: auto;
    display: flex;
    flex-direction: row;
}
#cuerpo{
    display: flex;
    flex-direction: row;
}
#dami {
    width: 50%; 
    margin-left: 20px;
}

#muebles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: black 1px solid;
    width: 100%;
}

#muebles h3.selected {
    font-weight: bold;
}


#muebles + div {
    width: 100%;
    margin: auto;
}

#imagenes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.camas,.sofas,.sillas,.mesas,.estanterias {
    width: 20%;
    height: 150px;
    margin: 10px;
    margin-left: 20px;
}
#diseño{
    background-color: #E9E9EB;
    width: 50%;
    margin-left: auto;
    text-align: center;
}
#Crear_tabla{
    max-width: 100%;
    margin: auto;
    width: 80%;
}
table{
    margin: auto;
    max-height: 100px;
    background-color: white;
}
.celda{
    width: 40px;
    height: 40px;
}

.hidden {
    display: none;
}

#muebles h3.selected {
    font-weight: bold;
    color: #333;
}

#muebles h3:hover {
    cursor: pointer;
    text-decoration: underline;
}
