/*cabecera*/
div.cabecera {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;    
}

/*total*/
div.total  {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
/*conteneedores*/

div.contenedor {
    display: flex;
    justify-content:space-around;
    text-align: center;
    flex-wrap: wrap;
}

div.producto {
    border: solid 1px rgb(158, 158, 158);
    padding: 20px;
    margin-bottom: 30px;
}

div.contenedor button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/*conteneedoresF*/